.banner {
  padding: 200px 0;
}

.banner .container h1 {  
  color: white;
  text-shadow: 1px 1px 5px rgba(100,100,100,0.5);

  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner .container p {  
  color: whitesmoke;
  opacity: .8;
  font-size: 20px;  

  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

