.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
    width: 200px;
    border-radius: 3px;    
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card img {
  height: 100px;
}

.shadow-card {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}